#judulDetailProduk {
    font-size: 26px;
    font-weight: 700;
    line-height: 28.6px;
    text-decoration: none solid rgb(83, 86, 90);
}
#hargaDetailProduk {
    font-size: 18px;
    font-weight: 700;
    line-height: 28.6px;
    text-decoration: none solid rgb(83, 86, 90);
    margin-top: 10px;
}
#container1 {
    margin-top: 10px;
}
#container2 {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    height: 550px;
}
#container2_1 {
    height: 318px;
    margin-right: 20px;
}
#Box {
    border: solid 5px black;
    border-radius: 5px;
}

#minititle {
    font-size: 30px;
    font-weight: bold;
}

#minitext {
    font-size: 20px;
}

#container2_2 {
    width: 647.6px;
}